img { 
height: 148px; 
width: 116px; 
}
body {
  font-family: 'Lora', serif;
}
h3 {
  color: white;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
*/

 #menu ul {
display:inline-block;
list-style:none;
position:relative;
float:left;
margin:0;
padding:0
}

#menu li {
display:block;
float:left;
text-align:center;
line-height:60px
}

#menu li a,#menu li span {
display:inline-block;
margin-left:1px;
padding:0 1.5em;
letter-spacing:.1em;
text-decoration:none;
font-size:1em;
text-transform:uppercase;
outline:0;
color:#212121;
background:#ECECEC
}

#menu .current_page_item a {
background:#E24E2A;
color:#FFF
}

#menu {
margin-top:15px
}

#menu ul a {
display:block;
color:#333;
text-decoration:none;
font-weight:700;
font-size:12px;
line-height:32px;
padding:0 15px;
font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#menu ul li {
position:relative;
float:left;
margin:0;
padding:0
}

#menu ul li.current-menu-item {
background:#ddd
}

#menu ul li:hover {
background:#f6f6f6
}

#menu ul ul {
display:none;
position:absolute;
top:100%;
left:0;
background:#fff;
padding:0
}

#menu ul ul li {
float:none;
width:200px
}

#menu ul ul a {
line-height:120%;
padding:10px 15px
}

#menu ul ul ul {
top:0;
left:100%
}

#menu ul li:hover > ul {
display:block
}
